body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.dashboard-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.admin-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.admin-info ul li {
    margin-bottom: 10px;
}

.admin-buttons ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.admin-buttons ul li {
    margin-bottom: 10px;
}

.admin-buttons ul li a {
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.admin-buttons ul li a:hover {
    background-color: #0056b3;
}

#logout-form {
    text-align: center;
    margin-top: 20px;
}

.home-link {
    display: inline-block;
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
}

.logout-button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #c82333;
}